<ion-view view-title="聊天">
	<ion-content class="padding">

	</ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive">
		<div class="buttons">
			<button class="button">Left Button</button>
		</div>
		<div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Email">
          </label>
         
        </div>
		<div class="buttons" ng-click="doSomething()">
			<button class="button">Right Button</button>
		</div>
	</ion-footer-bar>
</ion-view>