<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab title="推荐" icon="ion-ios-home" ui-sref="tabs.home">
		<ion-nav-view animation="slide-left-right" name="tabs-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="附近" icon="ion-ios-location" ui-sref="tabs.near">
		<ion-nav-view animation="slide-left-right" name="tabs-near"></ion-nav-view>
	</ion-tab>
	<ion-tab title="消息" icon="ion-ios-at" ui-sref="tabs.message">
		<ion-nav-view animation="slide-left-right" name="tabs-message"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" icon="ion-ios-person" ui-sref="tabs.user">
		<ion-nav-view animation="slide-left-right" name="tabs-user"></ion-nav-view>
	</ion-tab>
</ion-tabs>