<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab title="首页" icon="ion-ios-home" ui-sref="tabs.home">
		<ion-nav-view animation="slide-left-right" name="home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="附近" icon="ion-ios-location" ui-sref="tabs.near">
		<ion-nav-view animation="slide-left-right" name="near"></ion-nav-view>
	</ion-tab>
	<ion-tab title="消息" icon="ion-ios-at" ui-sref="tabs.at">
		<ion-nav-view animation="slide-left-right" name="at"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" icon="ion-ios-person" ui-sref="tabs.me">
		<ion-nav-view animation="slide-left-right" name="me"></ion-nav-view>
	</ion-tab>
</ion-tabs>